<!DOCTYPE html>

<html lan="pt-br">

    <head>
      
        <meta charset="utf-8">

        {% if title %}

            <title>{{ title }}</title>

        {% endif %}            

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">

    </head>

    <body>

        <ul>

          <li><a href="{{ url_for('main') }}">Principal</a></li>
          <li><a href="#contact">Julgar</a></li>
          <li><a href="#about">Ajuda</a></li>

        </ul>

        <br><br><br><br>

        {% block content %}
        {% endblock %}

    </body>

</html>