<!DOCTYPE html>

<html lang="pt-br">

    <head>
	
		<title>.:: Seven Online Judge ::.</title>

		<meta charset="UTF-8">

		<link rel="stylesheet" type="text/css" href="static/style.css">

    </head>

    <body>

		<form action="{{ url_for('registerCode') }}" method="POST">

			<label>Escolha o Exercício:</label><br>

			<select name="exercise_number" required>

				<option value = "1000">1000</option>
				<option value = "1001">1001</option>
				<option value = "1002">1002</option>
				<option value = "1003">1003</option>
				<option value = "1004">1004</option>
				<option value = "1005">1005</option>
				<option value = "1006">1006</option>
				<option value = "1007">1007</option>
				<option value = "1008">1008</option>
				<option value = "1009">1009</option>
				<option value = "1010">1010</option>

			</select><br>

			<label>Escolha a Linguagem:</label><br>

			<input type="radio" name="language" value="C" checked> C<br>
			<input type="radio" name="language" value="Python"> Python<br>

			<textarea name="codearea" rows="12" cols="26"></textarea><br>

			<input type="submit" value="Submeter">

		</form>
		
	</body>

</html>