{% extends 'base_index.html' %}
{% block content %}

    {% if message %}

        <div class="myFlashInfoMessage">

            <a> {{ message }}  </a>

        </div>

        <br><br><

    {% endif %}

    <div class="divMain">

        <h1 class="labelTitle">Seven Online Judge!</h1>
        
        <hr>

        <form action="{{ url_for('login') }}" method=POST>

            <br>

            <label>Usuário</label><br>
            <input class="textMain" type="text" name="loginField" autofocus required><br><br>

            <label>Senha</label><br>
            <input class="textMain" type="password" name="passwordField" required><br><br>            

            <input class="buttonMain" type="submit" name="enter" value="Entrar"><br><br>

            <hr>

            <br>

        </form>
    
        <label>Ainda não tem uma conta?</label><br><br><br>

        <a href="{{ url_for('register') }}" class="buttonMain" >Criar uma nova conta<a><br><br>

        <br>

    </div>

{% endblock %}  