{% extends 'base_main.html' %}
   
{% block content %}

	<div class="divJudgeMain">

		<form action="{{ url_for('registerCode') }}" method="POST">

			<div class="judgeParams">

				<label>Exercício:</label>

				<select name="exercise_number" required>

					<option value = "1000">1000</option>
					<option value = "1001">1001</option>
					<option value = "1002">1002</option>
					<option value = "1003">1003</option>
					<option value = "1004">1004</option>
					<option value = "1005">1005</option>
					<option value = "1006">1006</option>
					<option value = "1007">1007</option>
					<option value = "1008">1008</option>
					<option value = "1009">1009</option>
					<option value = "1010">1010</option>

				</select>

				<label>Linguagem:</label>

				<input type="radio" name="language" value="c" checked>C
				<input type="radio" name="language" value="py">Python

			</div>

			<br>

			<div class="divJudge">

				<textarea name="codearea" rows="20" cols="40"></textarea><br><br>

				<input class="buttonJudge" type="submit" value="Submeter">

			</div>

		</form>

	</div>

{% endblock %}