<!DOCTYPE html>

<html lang="pt-br">

    <head>
	
		<title>.:: Seven Online Judge ::.</title>

		<meta charset="UTF-8">

		<link rel="stylesheet" type="text/css" href="static/style.css">

    <head>

    <body>

    	<form action="" methods="POST">

    		<div>

    			<label>Usuário</label><br>

	    		<input type="text" value="" name="username"><br>

	    		<label>Senha</label><br>

	    		<input type="password" value="" name="password"><br>

	    		<input type="submit" value="Entrar" name="login"><br>

	    		<label>Ou, clique em Registrar-se!</label><br>

	    		<input type="submit" value="Registrar" name="register"><br>

    		</div>

    	</form>

		<a href="{{ url_for('dashboard') }}">Enviar Submissão</a>

    <body>

</html>