<!DOCTYPE html>

<html lang="pt-br">

  <head>

    {% block head %}

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="A graduated work about an online judge">
      <meta name="author" content="Marcus Vogado, Rogério Bonfim">  
      <link rel="icon" href="{{ url_for('static', filename='images/main.png') }} " type="image/x-icon"/>

      <title>{% block title %}{% endblock %} - Seven Online Judge!</title>

      <link href="{{ url_for('static', filename='css/styles.css') }} " rel="stylesheet">

      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }} " rel="stylesheet">

      <link href="{{ url_for('static', filename='css/navbar.css') }} " rel="stylesheet">

    {% endblock %}

  </head>

  <body class="main">

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a href="{{ url_for('main') }}">
        <img class="main" src="{{ url_for('static', filename='images/main.png') }}" alt="Smiley face" width="45" height="45">
      </a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Estudos</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item effect" href="#">
                <img src="{{ url_for('static', filename='images/help.png') }}" alt="Smiley face" width="25" height="25">  Ajuda</a>
              <a class="dropdown-item effect" href="{{ url_for('studyplan') }}">
                <img src="{{ url_for('static', filename='images/study_go.png') }}" alt="Smiley face" width="25" height="25">   Vamos estudar!</a>
              <a class="dropdown-item effect" href="{{ url_for('studyplan') }}">
                <img src="{{ url_for('static', filename='images/plans.png') }}" alt="Smiley face" width="25" height="25">  Planos</a>
              <a class="dropdown-item effect" href="#">
                <img src="{{ url_for('static', filename='images/study_statistics.png') }}" alt="Smiley face" width="25" height="25">   Estatísticas</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Exercícios</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item effect" href="#">
                <img src="{{ url_for('static', filename='images/help.png') }}" alt="Smiley face" width="25" height="25">  Ajuda</a>
              <a class="dropdown-item effect" href="{{ url_for('exercisegroup') }}">
                <img src="{{ url_for('static', filename='images/exercise_go.png') }}" alt="Smiley face" width="25" height="25">   Mão na massa!</a>
              <a class="dropdown-item effect" href="#">
              <img src="{{ url_for('static', filename='images/exercises_statistics.png') }}" alt="Smiley face" width="25" height="25">   Estatísticas</a>
            </div>
          </li>

          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Conta</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item effect" href="#">
                <img src="{{ url_for('static', filename='images/settings.png') }}" alt="Smiley face" width="25" height="25">  Configurações</a>
              <a class="dropdown-item effect" href="#">
              <img src="{{ url_for('static', filename='images/profile.png') }}" alt="Smiley face" width="25" height="25">  Perfil
              </a>
              <a class="dropdown-item effect" href="{{ url_for('logout') }}">
                <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Smiley face" width="25" height="25">   Logout</a>
            </div>
          </li>

        </ul>
        
      </div>

    </nav>

    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/jquery-3.1.1.slim.min.js') }}" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.min.js') }}"><\/script>')</script>

    <script src="{{ url_for('static', filename='js/tether.min.js') }}" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <script src="{{  url_for('static', filename='js/bootstrap.min.js') }} "></script>

    <script src="{{  url_for('static', filename='js/ie10-viewport-bug-workaround.js') }} "></script>

  </body>

</html>
