<!DOCTYPE html>

<html lan="pt-br">

    <head>
      
        <meta charset="utf-8">

        {% if title %}

            <title>{{ title }}</title>

        {% endif %}            

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">

    </head>

    <body>

        <div style="text-align: center; color: #ffffff; font-family: arial;">

            <br><br><br>

            <label style="font-size: 36px; font-style: bold;">Seja Bem-vindo!</label><br><br><br>

            <label style="font-size: 36px; font-style: bold;">Nós temos algo grandioso para você!</label><br><br><br>

            <label style="font-size: 24px; font-style: bold;">Esteja conosco nos próximos capítulos e nós mostraremos quão incrível a Programação de Computadores é!</label><br><br><br>

        </div>

        {% block content %}
        {% endblock %}

    </body>

</html>