{% extends 'base_main.html' %}

{% block content %}

	<div class="divPlain">

		<div style="text-align: center;">
 
			<label style="font-size: 25px;"><b>{{ current_user.name.title() }}</b>, entendido. Nós preparamos um plano de estudos para auxiliar você durante sua jornada no aprendizado à Programação.</label>

			<br><br><br><br>

			<label style="font-size: 25px;">Seria de suma importância o cumprimento dos passos a seguir em sua órdem apresentada, por conhecermos os pré-requisitos que todo <i>Programador</i> precisa para seu início de carreira.
			</label>

			<br><br><br><br>

		</div>

		{% if allKnownItens %}

			<label style="font-size: 22px;">Nos próximos capítulos, você conhecerá os seguintes itens:</label>

			<br><br><br>

			{% for item in allKnownItens %}

				<img src="{{ url_for('static', filename='images/item_list_clear.png') }}" alt="List Itens">

				<label style="font-size: 20px;"><b><i>{{ item.name }}</i></b></label>

				<br><br><br>

			{% endfor %}

		{% elif specificKnownItens %}

			<label style="font-size: 22px;">Você selecionou os seguintes itens como conhecido:</label>

			<br><br><br>

			{% for item in specificKnownItens %}

				<img src="{{ url_for('static', filename='images/item_list_clear.png') }}" alt="List Itens">

				<label style="font-size: 20px;"><b><i>{{ item }}</i></b></label>

				<br><br><br>

			{% endfor %}

			<label style="font-size: 22px;">Nos próximos capítulos, você conhecerá os seguintes itens:</label>

			<br><br><br>

			{% for item in specificUnknownItens %}

				<img src="{{ url_for('static', filename='images/item_list_clear.png') }}" alt="List Itens">

				<label style="font-size: 20px;"><b><i>{{ item.name }}</i></b></label>

				<br><br><br>

			{% endfor %}

		{% endif %}
		
		<div style="text-align: center;">

			<label style="font-size: 20px;"><b><i>{{ current_user.name.title() }}, boa sorte e mão na massa (ou melhor, no teclado, não é?!).</i></b></label>

			<br><br><br>

			<input onClick="window.location.href='{{ url_for('studies') }}'" type="submit" Value="Avançar" name="next" class="buttonJudge">

		</div>

	</div>
	
{% endblock %}