{% extends 'base_main.html' %}

{% block title %}Principal{% endblock %}

{% block head %}

  	{{ super() }}

{% endblock %}

{% block content %}

	{% if alreadyPlain %}
	    
	    <div style="text-align: center;" class="alert alert-warning alert-dismissible fade show" role="alert">

	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	        </button>

	        {{ alreadyPlain }}
	        
	    </div>

	{% endif %}

    <h3 style="color: #ffffff; font-size: 40px; text-align: center;"> {{ current_user.name.title() }}, o que você deseja fazer?</h3>

    <hr>

	<br><br>

	<div id="flex-container">

		<div class="flex-item">

			<br>

			<div style="text-align: center; padding: 10px; font-size: 18px;">
				<a href="{{ url_for('exercisegroup') }}"><img class="action" src="{{ url_for('static', filename='images/computer.png') }}" alt="" height="70" width="70"></a>
				<p>Pratique seus conhecimentos adquiridos com os exercícios que nós preparamos para você!</p>
			</div>

		</div>

		<div class="flex-item">
			
			<br>

			<div style="text-align: center; padding: 10px; font-size: 18px;">
				<a href="{{ url_for('presentation') }}"><img class="action" src="{{ url_for('static', filename='images/information.png') }}" alt="" height="70" width="70"></a>
				<p>Conheça os significados e dicas de cada Status dos Exercícios.</p>
			</div>

		</div>

		<div class="flex-item">

			<br>

			<div style="text-align: center; padding: 10px; font-size: 18px;">
				<a href="{{ url_for('statistics') }}" ><img class="action" src="{{ url_for('static', filename='images/study_statistics.png') }}" alt="" height="70" width="70"></a>
				<p>Conheça os resultados e estatísticas de seus exercícios realizados</p>	
			</div>

		</div>

	</div>

	<br>

	<hr>

	<br>

{% endblock %}
