{% extends 'base_index.html' %}

  {% block title %}Index{% endblock %}

  {% block head %}

    {{ super() }}

  {% endblock %}

  {% block content %}

  <div class="divIndex">

    <div style="text-align: center;" class="col-sm-8 mx-auto">

      <h1 style="font-size: 50px;">Seven Online Judge!</h1>

      <br><br><br>

      <p style="font-size: 40px; font: #ffffff;">Esteja conosco e nós lhe mostraremos o quão incrível e maravilhoso a Programação de Computadores é!</p>
      <p>

      <br><br><br><br>

      <a class="btn btn-primary" href="{{ url_for('login') }}" role="button">Começar agora mesmo!</a>
      </p>

    </div>

  </div>

{% endblock %}
