{% extends 'base_main.html' %}

    {% block title %}Julgamento{% endblock %}

    {% block head %}

      {{ super() }}

    {% endblock %}

    {% block content %}

    <div class="divJudgeMain">

        <form action="{{ url_for('registercode') }}" method="POST">

            <div class="judgeParams">

                <label style="font-size: 20px;">Exercício:</label>

                <select name="exercise_number" required>
                        
                    {% for item in exercises_list %}

                        {% if exercise == item.exercise_number %}

                            <option selected=True>
                                
                                {{ item.exercise_number }}

                            </option>
                    
                        {% else %}		

                            <option>
                                
                                {{ item.exercise_number }}

                            </option>	

                        {% endif %}

                    {% endfor %} 

                </select>

                <label style="font-size: 25px;"> | </label>

                <label style="font-size: 20px;">Linguagem: </label>

                <!--<input type="radio" name="language" value="c" checked> C (gcc 5.4.0)-->

                <label class="custom-control custom-radio">
                <input name="language" value="c" type="radio" class="custom-control-input" checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">C (gcc 5.4.0)</span>
                </label>

            </div>

            <br>

            <div class="divJudge">

                <textarea name="codearea" rows="15" cols="50" required>
#include <stdio.h>

int main(){

    return 0;

}</textarea><br><br>

                <input class="buttonJudge" type="submit" value="Submeter">

                <!--<br><br>

                <p style="font-size: 18px;">Ou, você pode importar diretamente um arquivo para Julgamento</p>

                -->

            </div>

        </form>

    </div>

{% endblock %}