{% extends 'base_main.html' %}

    {% block title %}Julgamento{% endblock %}

    {% block head %}

      {{ super() }}

    {% endblock %}

    {% block content %}

    <div class="divJudgeMain">

        <form action="{{ url_for('registercode') }}" method="POST">

            <div class="judgeParams">

                <label>Exercício:</label>

                <select name="exercise_number" required>
                        
                    {% for item in exercises_list %}

                        {% if exercise == item.exercise_number %}

                            <option selected=True>
                                
                                {{ item.exercise_number }}

                            </option>
                    
                        {% else %}		

                            <option>
                                
                                {{ item.exercise_number }}

                            </option>	

                        {% endif %}

                    {% endfor %} 

                </select>

                <label>Linguagem:</label>

                <input type="radio" name="language" value="c" checked>C
                <input type="radio" name="language" value="py">Python

            </div>

            <br>

            <div class="divJudge">

                <textarea name="codearea" rows="15" cols="50" required></textarea><br><br>

                <input class="buttonJudge" type="submit" value="Submeter">

                <br>

                <p>Ou, você pode importar diretamente um arquivo para Julgamento</p>

                

            </div>

        </form>

    </div>

{% endblock %}