{% extends 'base_main.html' %}

{% block title %}Julgamento{% endblock %}

{% block head %}

  {{ super() }}

{% endblock %}

{% block content %}

{% if exercises %}

<div>

    <div>

        <label>Exercício:</label>

        <select name="exercise_number" required></select>

            {% for item in exercises_list %}
            
                {% if exercise == item.exercise_number %}

                    <option selected=True>
                        
                        {{ item.exercise_number }}

                    </option>
            
                {% else %}		

                    <option>
                        
                        {{ item.exercise_number }}

                    </option>	

                {% endif %}

            {% endfor %}
        
        </select>

        <label>Linguagem:</label>
        <input type="radio" name="language" value="c" checked>C
        <input type="radio" name="language" value="py">Python

        <label>Descrição:</label>
        <textarea rows="4" cols="50">
            {{ item.description }}
        </textarea>

    </div>

    <div>
        
    </div>

</div>

{ endif %}

{% endblock %}