{% extends 'base_index.html' %}

{% block title %}Plano de Estudos{% endblock %}

{% block head %}

  {{ super() }}

{% endblock %}

{% block content %}

<form action="{{ url_for('startusernext') }}" method="POST">

	<br><br>

	<div class="divPresentationQuestions">

		<label style="font-size: 35px;">Entre os itens abaixo, quais você conhece?</label>

		<hr>

		<br>

		<div style="text-align: center;">

			{% if allKnownItens %}

				{% for item in allKnownItens %}

					<label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" name="knownItens" value="{{ item.name }}">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">{{ item.name }}</span>
					</label><br>

				{% endfor %}

			{%  endif %}

		</div>

		<br><br>

		<label style="font-size: 35px;">Em qual nível de Programação você se considera?</label>

		<hr>

		<br>

		<div style="text-align: center;">

			<label class="custom-control custom-radio">
			<input name="userlevel" type="radio" class="custom-control-input">
			<span class="custom-control-indicator"></span>
			<span class="custom-control-description">Iniciante</span>
			</label>

			<label class="custom-control custom-radio">
			<input name="userlevel" type="radio" class="custom-control-input">
			<span class="custom-control-indicator"></span>
			<span class="custom-control-description">Intermediário</span>
			</label>

			<label class="custom-control custom-radio">
			<input name="userlevel" type="radio" class="custom-control-input">
			<span class="custom-control-indicator"></span>
			<span class="custom-control-description">Avançado</span>
			</label>

		</div>

		<br>

		<label style="font-size: 16px; font-style: italic;">(Considere responder com sinceridade. Seu plano será ajustado mediante essas informações)</label>

		<br><br>

		<input class="buttonNext" type="submit" value="Avançar">	

	</div>

</form>

<br>

{% endblock %}