{% extends 'base_index.html' %}

{% block title %}Plano de Estudos{% endblock %}

{% block head %}

  {{ super() }}

{% endblock %}

{% block content %}

<form action="{{ url_for('startusernext') }}" method="POST">

	<div class="divPresentationQuestions">

		<label style="font-size: 45px;">{{ current_user.name.title() }}, entre os itens abaixo, quais você deseja estudar?</label>

		<hr class="style">

		<br>

		<div style="text-align: center; font-size: 24px;">

			{% if study_itens %}

				{% for item in study_itens %}

					<label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" name="studyitens" value="{{ item.name }}">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">{{ item.name }}</span>
					</label><br>

				{% endfor %}

			{%  endif %}

		</div>

		<hr class="style">

		<br>

		<input class="buttonNext" type="submit" value="Avançar">	

	</div>

</form>

<br>

{% endblock %}