{% extends 'base_studies.html' %}

{% block title %}Guia de Estudos - Considerações{% endblock %}

{% block head %}

	{{ super() }}

{% endblock %}

{% block content %}

	<body class="questions interactiveStudy">

		<br>

		<div style="text-align: center;">

			<div style="display: inline-flex;">

				<div style="padding-right: 100px;">

		        	<img src="{{ url_for('static', filename='images/main.png') }}" alt="Smiley face" width="75" height="75">
			    
		      	</div>

		      	<strong><p style="font-size: 42px;">Bem vindo à Guia de Estudos</p></strong>

				<div style="padding-left: 100px;">
			 
		        	<img src="{{ url_for('static', filename='images/main.png') }}" alt="Smiley face" width="75" height="75">
			    
		      	</div>

	  		</div>

  		</div>

		<div style="margin: auto; text-align: center;">

			<br><br><br><br><br>

			<div style="width: 80%; margin: auto;">

				<p style="font-size: 36px;">Nós temos algumas considerações para você que está começando os estudos de <b>Programação</b>.</p>

				<br><br><br><br><br><br>


				<p style="font-size: 32px;">Nós oferecemos duas maneiras para se estudar atualmente:</p>
				<hr class="style">

			</div>
			
		</div>

		<div style="font-size: 42px; text-align: center;">

			<br>

			<div style="width: 85%; font-size: 30px; margin: auto;">

				<ol>

					<li>Através dos <b>Materias de Apoio</b> que nós criamos para vocês.</li>
					<li>Através do <b>Método Interativo de Estudos</b> que criamos para vocês.</li>
					
				</ol>

			</div>

		</div>

		<br><br><br><br>

		<p style="font-size: 32px; text-align: center;">Ok. Mas, qual método escolher?</p>

		<hr class="style">

		<br>

		<p style="font-size: 32px; text-align: center;">Você precisa identificar qual a sua melhor forma de <b>absorver conhecimento</b>:</p>

		<br>

		<div style="font-size: 42px;">

			<div style="width: 90%; font-size: 30px; margin: auto;">

				<ul>

					<li>Através da <b>Leitura</b>: livros, materiais relacionados, artigos.</li>

					<div style="background-color: #32CD32;">

						<hr class="style">

						<p style="font-size: 20px; text-align: center;">Existem pessoas que, simplesmente lendo um material, conseguem absorver o conteúdo e por em prática futuramente sem dificuldades o conhecimento adquirido.</p>

						<hr class="style">

					</div>

					<br>

					<li>Através da <b>Escrita</b>: escrevendo enquanto estuda, anotando <i>"sparks"</i>, frases de impacto.</li>

					<div style="background-color: #FFFF00;">

						<hr class="style">

						<p style="font-size: 20px; text-align: center;">Existem pessoas que absorvem melhor o conteúdo estudado quando anotam, escrevem.</p>

						<hr class="style">

					</div>

					<br>

					<li>Através de <b>Exemplos</b>: estudando exemplos do assunto abordado.</li>

					<div style="background-color: #1E90FF;">

						<hr class="style">

						<p style="font-size: 20px; text-align: center;">Existem pessoas que, através de exemplos, consegue assimilar melhor o conteúdo proposto.</p>

						<hr class="style">

					</div>

					<br>

					<li>Através da <b>Prática</b>: colocando a "mão na massa" sobre o assunto abordado.</li>

					<div style="background-color: #90EE90;">

						<hr class="style">

						<p style="font-size: 20px; text-align: center;">Existem pessoas que, conforme praticam os novos conhecimentos, absorve o conteúdo proposto.</p>

						<hr class="style">

					</div>

					<br>

				</ul>

			</div>

		</div>

		<div style="background-color: #bed3f4;">

			<hr class="style">

			<p style="font-size: 20px; text-align: center;"><b>Observação:</b> podemos utilizar todos esses casos para o Aprendizado, dependendo do caso em questão. <b>Isso não é uma regra!</b></p>

			<hr class="style">

		</div>

		<br>

		<hr class="style">

		<br><br><br><br><br><br><br><br><br>

		<p style="font-size: 45px; text-align: center;">Cada um de nós possui uma maneira de aprendizado. Precisamos <b>identificar</b> essa maneira (talvez, tentando arduamente no início todos os métodos possíveis), para então conseguirmos, sem perda de tempo, <b>estudar</b>.</p>

		<br><br><br><br><br><br><br><br>

		<div style="background-color: #90EE90;">

			<hr class="style">

			<p style="font-size: 30px; text-align: center;"><b>Dica: </b>não despreze os pequenos começos. Sem eles, nada será possível!</p>

			<hr class="style">

		</div>

		<br><br><br><br>

		<hr class="style">		

		<br><br>

		<p style="width: 90%; margin: auto; font-size: 40px; text-align: center;">Chega de enrolação. Escolha o seu método preferido e inicie os <b>Estudos</b>.</p>

		<p style="font-size: 20px; text-align: center;">( Ou ainda, faça todos eles, um de cada vez, é claro! <b>;)</b> )</p>

		<br><br><br><br>

		<div id="flex-container2">

			<div class="flex-item2" style="background-color: #e6ecff;">

				<br>

				<div style="text-align: center; padding: 10px; font-size: 18px;">
					<a href="{{ url_for('studymaterialdownload') }}"><img class="action" src="{{ url_for('static', filename='images/pdf.png') }}" alt="" height="70" width="70"></a>
					<p>Faça <b>Download</b> do nosso <b>Material de Apoio</b> para os seus Estudos.</p>
				</div>

			</div>

			<div class="flex-item2" style="background-color: #e6ecff;">

				<br>

				<div style="text-align: center; padding: 10px; font-size: 18px;">
					<a href="{{ url_for('interactivestudyexplanation') }}" ><img class="action" src="{{ url_for('static', filename='images/studies.png') }}" alt="" height="70" width="70"></a>
					<p>Estude através do nosso <b>Método Interativo de Estudos</b>. Método aconselhado por nós!</p>	
				</div>

			</div>

		</div>

		<br><br><br><br>

	</body>

{% endblock %}