<!DOCTYPE html>

<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Painel - Estudos</title>

    <link href=" {{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <link href=" {{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

      <a class="navbar-brand" href="#">Principal</a>

      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" href="#">Configurações</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Perfil</a>
          </li>
          
        </ul>

        <form class="form-inline mt-2 mt-md-0">

          <input class="form-control mr-sm-2" type="text" placeholder="Procurar" aria-label="Search">

          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>

        </form>

      </div>

    </nav>

    <div class="container-fluid">

      <div class="row">

        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">

          <ul class="nav nav-pills flex-column">

            <li class="nav-item">
              <a class="nav-link active" href="#">Exercícios <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Status</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="#">Ajuda <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Fórum</a>
            </li>

          </ul>

          <ul class="nav nav-pills flex-column">

            <li class="nav-item">
              <a class="nav-link" href="#">Another nav item</a>
            </li>

          </ul>

          <ul class="nav nav-pills flex-column">

            <li class="nav-item">
              <a class="nav-link" href="#">Nav item again</a>
            </li>

          </ul>

        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

          <h1>Painel - Estudos</h1>

          <section class="row text-center placeholders">

            <div class="col-6 col-sm-3 placeholder">

              <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">

              <h4>Itens realizados</h4>

            </div>

            <div class="col-6 col-sm-3 placeholder">

              <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">

              <h4>Itens não realizados</h4>

            </div>

            <div class="col-6 col-sm-3 placeholder">

              <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">

              <h4>Label</h4>

            </div>

          </section>

          <h2>Section title</h2>

          <div class="table-responsive">

            <table class="table table-striped">

              <thead>

                <tr>
                  <th>ID Estudo</th>
                  <th>Itens para cumprir</th>
                  <th>Itens cumpridos</th>
                </tr>

              </thead>
              
              <tbody>

                <tr>
                  <td>1,001</td>
                </tr>

              </tbody>

            </table>

          </div>

        </main>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.min.js') }}"><\/script>')</script>

    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>

  </body>

</html>