{% extends 'base_studies.html' %}

{% block title %}Estudo Interativo{% endblock %}

{% block head %}

	{{ super() }}

{% endblock %}

{% block content %}

	{% if message %}

		<div style="width: 80%; margin: auto; text-align: center;">

			<div class="alert alert-info alert-dismissable">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Hey!</strong> {{ message }}
			</div>

		</div>

	{% endif %}

	<body class="questions interactiveStudy">

		<br>

		<div style="text-align: center;">

			<div style="display: inline-flex;">

				<div style="padding-right: 100px;">

		        	<img src="{{ url_for('static', filename='images/main.png') }}" alt="Smiley face" width="75" height="75">
			    
		      	</div>

		      	<strong><p style="font-size: 42px;"><i>{{ current_user.name.title() }}</i>, Bem vindo ao seu Plano de Estudo!</p></strong>

				<div style="padding-left: 100px;">
			 
		        	<img src="{{ url_for('static', filename='images/main.png') }}" alt="Smiley face" width="75" height="75">
			    
		      	</div>

	  		</div>

  		</div>

		<div style="margin: auto; text-align: center;">

			<br><br><br><br><br>

			<div style="width: 80%; margin: auto;">

				<p style="font-size: 33px;">Gerencie abaixo os itens que serão estudados.</p>

				<hr class="style">

				<br>

			</div>

			<br>

			<div style="width: 80%; margin: auto; text-align: center; font-size: 30px;">

				{% if list_data %}

					<table class="tableStudyPlan">

						<tr class="listexercises">

							<th class="study_id">ID</th>
			                <th class="study_name">Nome do estudo</th>
			                <th class="study_type">Tipo</th>
			                <th class="study_status">Status</th>
			                <th class="study_options">Opções</th>
			                <th class="study_judge">Realizar</th>

			            </tr>

			            {% for item in list_data %}

				            <tr class="listexercises">

				            	<td class="study_id">{{ item["id_study"] }}</td>

				            	<td class="study_name"><a style="color: #111111;">{{ item["name"] }}</a></td>

				            	<td class="study_type">{{ item["type_study"] }}</td>
				            	
				            	<td class="study_status"><img src="static/images/{{ item["status"] }}.png" alt="" height="25" width="25"></td>

				            	<td class="study_options">
				            		
				            		<select>

				            			<option value="select">Selecionar</option>
				            			<option value="remove">Remover</option>

			            			</select>

				            	</td>

				            	<td class="study_judge">
			                        <a href="{{ url_for('interactivestudy', id_study=item["id_study"]) }}"><img border="0" src="{{ url_for('static', filename='images/glyphicons-152-new-window.png') }}" width="20" height="20">
			                        </a>
			                    </td>

		            		</tr>

						{% endfor %}

					</table>

				{% else %}

					<p>Any Study item was found.</p>

				{% endif %}

			</div>

			<br><br>

		</div>

		<br>

	</body>

{% endblock %}